.login{
  border: 1px solid rgb(9, 9, 9);
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 20px;
    width: 27%;
    height: 361px;
    text-align: center
}


/* .main-login {
  display: flex;
  width: 40%;
  height: 350px;
  margin-top: 8%;
  margin-left: 30%;
  align-items: inherit;
  color: black;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 30px;
}
.t1 {
  margin-top: 30%;
  align-items: center;
}
.login-icon {
  margin-top: 4%;
  display: flex;
  width: 280px;
  height: 40px;
}
.login {
  width: 30%;
  height: 100%;
}
.p1 {
  margin-top: 23px;
  margin-left: 2px;
}
.btn {
  margin-bottom: px;
}
.l1 {
  width: 88%;
}
.login-left {
  display: flex;
  width: 80%;
  height: 100%;
  color: white;
  border-radius: 30px;
}
.im {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 70%;
  height: 100%;
}
.password {
  width: 80%;
}
.login-right {
  text-align: center;
  margin: 0px;
} */
/* .Login{
    margin-top: 50%;
  } */
